<!DOCTYPE html>
<html>
  <h1> Mother fucker</h1>
  <body>
    <div id="map_canvas"></div>
  </body>
</html>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="/mapController.js"</script>
